@tailwind base;
@tailwind components;
@tailwind utilities;

.cateList li.on{background-color: orange; font-weight: bold; color: #fff;}
.mokup-img > div{position: absolute; bottom: 0; overflow: hidden;}
.mokup-img > div:nth-child(1){width: 85%;left: 50%;transform: translateX(-50%);}
.mokup-img > div:nth-child(2){width: 35%; right: 0;}
.mokup-img > div:nth-child(3){width: 23%; left: 0;}
.mokup-img > div:nth-child(1)::after{content: ""; position: absolute; width: 92%; height: 63%; background: url(http://greenart-web.com/preview.jpg) center top; left: 19px; top: 20px; background-size: cover; transition: 5s;}
.mokup-img > div:nth-child(2)::after{content: ""; position: absolute; width: 86%; height: 82%; background: url(http://greenart-web.com/preview.jpg) center top; left: 16px; top: 26px; background-size: cover; transition: 5s;}
.mokup-img > div:nth-child(3)::after{content: ""; position: absolute; width: 90%; height: 95%; background: url(http://greenart-web.com/preview.jpg) center top; left: 7px; top: 8px; background-size: cover; transition: 5s; border-radius: 5px;}
.mokup-img > div:hover::after{background-position: center bottom;}
@media screen and (max-width: 1200px){
    .mokup-img{flex-basis: 100%; height: 500px;}
    .mokup-img > div:nth-child(1){width: 550px;}
    .mokup-img > div:nth-child(2){width: 184px; right: 0;}
    .mokup-img > div:nth-child(3){width: 126px; left: 0;}
    .mokup-img > div:nth-child(1)::after{top: 23px; height: 62%;left: 21px;width: 92.4%;}
    .mokup-img > div:nth-child(2)::after{width: 85%;top: 24px;}
}

@media screen and (max-width: 640px){
    .mokup-img{height: 70.3125vw;}
    .mokup-img > div:nth-child(1){width: 100%;}
    .mokup-img > div:nth-child(2){width: 35%;}
    .mokup-img > div:nth-child(3){width: 20%;}
    .mokup-img > div:nth-child(1)::after{width: 92.5%; left: 3.8%; top: 4.7%;}
    .mokup-img > div:nth-child(2)::after{left: 8%; top: 8%;}
    .mokup-img > div:nth-child(3)::after{height: 95%; left: 5.5%; top: 2.5%;}
}